html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
   /* box-sizing: border-box; */
    background-repeat: no-repeat;
    box-sizing: inherit;
}
*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}



.moveChunk {
  max-width: 75rem;
  padding: 0 0.75rem;
  margin: 0 auto 1.875rem;
}

/* .moveChunk   */
.margin{
  max-width: 75rem;
  padding: 0 0.75rem;
  margin: 0 auto 1.875rem;
}

/* .moveChunk   */

 .marginBox{
  max-width: 36.875rem;
  margin: 0 auto;
}
/* .moveChunk */
 .relative {
  position: relative;
  max-width: 36.875rem;
  max-height: 24.875rem;
  margin-bottom: 1.4375rem;
  line-height: 0;
  text-align: left;
  border-radius: 0.75rem;
}

.moveChunk .relative  .originImg {
  height: 100%;
}

/* .moveChunk .relative  */
.moveChunk .relative 
.posi {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.75rem 0 0 0.75rem;
}

/* .moveChunk .relative   */
.clearImg {
  width: 100%;
  border-radius: 0.75rem;
}


/* .moveChunk .relative   */
.move {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: ew-resize
}

  

@tailwind base;
@tailwind components;
@tailwind utilities;
